<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get CRUD</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        .button {
  transition-duration: 0.4s;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
    </style>
</head>
<body>
    get crud from view
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        
        <% for(var i=0; i < dataTable.length; i++) { %>
            <tr>
                <td>
                    <%= dataTable[i].email %>
                </td>
                <td>
                    <%= dataTable[i].firstName %>
                </td>
                <td>
                    <%= dataTable[i].lastName %>
                </td>
                <td>
                    <%= dataTable[i].address %>
                </td>
                <td>
                    <a href="/edit-crud?id=<%= dataTable[i].id %>" class="button">Edit</a>
                    <a href="/delete-crud?id=<%= dataTable[i].id %>" class="button">Delete</a>
                </td>

            </tr>
        <% } %>
    </table>
</body>
</html>